<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SR_ProductIndexer::product_indexer" title="Product Index Management" module="SR_ProductIndexer" sortOrder="30" parent="Magento_Backend::system_tools" action="productindexer/indexer/list" resource="SR_ProductIndexer::index"/>
    </menu>
</config>
